* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Pango;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button:first-child {
    border-left: 2px solid rgba(100, 114, 125, 0.5);
}

#workspaces button {
    padding: 0 5px;
    border-radius: 0;
    background-color: transparent;
    border-top: 2px solid rgba(100, 114, 125, 0.5);
    border-right: 2px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
}


#workspaces button.active {
    background-color: rgba(255,255,255, 0.2);
}

#workspaces button.hover {
    background-color: transparent;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}




#network {
    color: white;
}

#network.disconnected {
    color: #f53c3c;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
#custom-playerctl.Paused {
     opacity: 0;
    min-width: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
}