* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "0xProto Nerd Font", "Times New Roman";
  font-size: 16px;
}




window#waybar {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.75);
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.fullscreen {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background-color: #333333;
  border-radius: 12px;
  margin: 6px 6px;
  margin-bottom: 0;
  padding: 0px 8px;
  padding: 0 0;
}

#workspaces button:first-child {
  border-radius: 12px 0 0 12px;
}

#workspaces button:last-child {
  border-radius: 0 12px 12px 0;
}

#workspaces button:only-child {
  border-radius: 12px;
}

#workspaces button {
  padding: 2px 6px;
  transition-property: background-color;
  border-radius: 0;
}

#workspaces button.active {
  background-color: #7D5BA6;
}


#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-playerctl,
#custom-rofi,
#submap {
  background-color: #333333;
  border-radius: 12px;
  margin: 6px 6px;
  margin-bottom: 0;
  padding: 0px 8px;
}

#network.disconnected {
  color: #f53c3c;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

window#waybar.HDMI-A-1 #custom-playerctl,
window#waybar.HDMI-A-1 #disk,
window#waybar.HDMI-A-1 #memory,
window#waybar.HDMI-A-1 #cpu,
window#waybar.HDMI-A-1 #temperature,
window#waybar.HDMI-A-1 #network,
#custom-playerctl.Paused {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
}
