* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "0xProto Nerd Font", "Times New Roman";
  font-size: 16px;
}




window#waybar {
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(0,0,0, 0.5);
  padding: 8px 0;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.fullscreen {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  border-radius: 12px;
  margin-bottom: 0;
  padding: 0px 8px;
  padding: 0 0;
}
#workspaces button {
  padding: 2px 6px;
  transition-duration: 0.25s;
  transition-property: color;
  color: rgba(255, 255, 255, 0.40);
  border-radius: 0;
}


#workspaces button.active {
  color: white;
}


#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-playerctl,
#custom-rofi,
#submap {
  border-radius: 12px;
  margin: 0 3px;
  margin-bottom: 0;
  padding: 0px 8px;
}

#network.disconnected {
  color: #f53c3c;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-playerctl.Paused {
  opacity: 0;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
}
